.chatText{
    background-color: white;
    width: 500;
    height: 500;
    border: 3px solid lightblue;
    padding: 30px;
    margin: 40px;
    overflow-wrap: break-word;
}

.profileImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.bla{
    background-color:black;
    width: 200;
    height: 200;
    border: 3px lightblue;
    padding: 4px;
    margin: 4px;
    overflow-wrap: break-word;
}

#writePost{
    width: 250px;
    height: 150px;
    overflow-wrap: break-word;
}
#sendPost{

    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 2px solid #008CBA;
    color: white;
}
* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.columnL {
    float: left;
    width: 50%;
    padding: 10px;
    overflow: auto
}

.columnR {
    float: right;
    width: 50%;
    padding: 10px;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.sticky {
    position: fixed;
    top: 10%;
    width: 100%
}
#usrProfileImg {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
button {
    background-color: lightblue;    
    color: white;
    padding: 8px 8px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 5%;
}
input[type=text], input[type=password] {
    width: 10%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Center the loader */
#loader {
    position: absolute;
    left: 20%;
    top: 40%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }
